@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'variables';
@import 'home_feed';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
	background: $theme-bg;
  font-family: 'Roboto', sans-serif;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      width: inherit;
    }
  }

  a { color: inherit; }

  .hide { display: none; }
}

