@import 'variables';
@import 'home_feed';
@import 'write';
@import 'components/compose-box';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
	background: $theme-bg;
  font: 'Roboto', sans-serif !important;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      width: inherit;
    }
  }

  a {
    font-family: 'Roboto', sans-serif !important;
    color: inherit;
  }

  .hide { display: none; }
}
