.compose {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  position: relative;

  .writebox {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 1%;
    font-size: $large;
    line-height: 1.2em;
    resize: none;
    outline: none;

    .full { }
    .mini { height: 150px; }
  }
}



