<ul class="maxcont container">
  <li class="status-card ui grid">
    <div class="row">
      <div class="three wide column">
        <img class="thumb-img" src="" alt="signed in user" />
      </div>
      <nav class="float-rt" onclick={{cancelPost}}>
        <i class="remove icon side-icon"></i>
      </nav>
    </div>
  </li>
</ul>
