<textarea
  class="writebox"
  rows="10"
  minlength="1"
  maxlength="1000"
  autocapitalize="sentences"
  spellcheck=true
  required="true"
  autofocus="true"></textarea>
<section class="hide">Image Preview</section>
