<input class="photo-picker" type="file" style="display:none"/>
<span onclick={{pickFile}}><i class="photo icon"></i></span>
<button onclick={{makePost}}>Post</button>
<script type="javascript">
</script>
