<input
  accept="image/*"
  class="photo-picker"
  type="file"
  style="display:none"
  onchange={{updatePhotosPreview}}
  multiple/>
<span onclick={{openFilePicker}}><i class="photo icon"></i></span>
<button onclick={{makePost}}>Post</button>
<script type="javascript">
</script>
