<h1>Timeline</h1>
<ul>
  <li>
    <form onsubmit={{action "addTimelineItem"}}>
      <input
        class="textbox"
        onchange={{action (mut timelineItemText) value="target.value"}}
        placeholder="Got anything for the group?"
        required />
      <input type="submit" value="Post" />
    </form>
  </li>

  {{#each posts as |post|}}
    <li>
      {{component
          (concat 'timeline-items/' (singularize post.kind))
          post=post
      }}
    </li>
  {{/each}}
</ul>
