<div id="home-feed" class="home-feed">
  <nav id="nav" class="nav padlr30">
    <div class="maxcont container">
      <div class="text-center fs1-5">Home</div>
      <div class="ui equal width grid">
        <a class="column mitem is-active" href="/">All</a>
        <a class="column mitem" href="/">Following</a>
        <a class="column mitem" href="/">Official</a>
      </div>
    </div>
  </nav>
  <div class="feed-container">
    <ul class="maxcont container">
      <li class="status-card ui grid">
        <div class="row">
          <div class="three wide column">
            <img class="thumb-img" src="" alt="signed in user" />
          </div>
          <a href="/" class="thirteen wide column">What's the latest</a>
        </div>
      </li>

      {{#each posts as |post|}}
      <li>
        {{component
            (concat 'timeline-items/' (singularize post.kind))
            post=post
        }}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
