<div class="home-feed">
  <nav class="nav padlr30">
    <div class="maxcont container">
      <header class="text-center fs1-5">Home</header>
      <div class="ui equal width grid">
        <a class="column mitem is-active" href="/">All</a>
        <a class="column mitem" href="/">Following</a>
        <a class="column mitem" href="/">Official</a>
      </div>
    </div>
  </nav>
  <div class="feed-container">
    <ul class="maxcont container">
      <li class="status-card ui grid">
        <div class="compose-box row">
          <div class="three wide column">
            <img class="thumb-img" src="" alt="signed in user" />
          </div>
          {{#link-to 'write' class="write thirteen wide column"}}
          What's the latest?
          {{/link-to}}
        </div>
      </li>
      {{#each posts as |post|}}
      <li>
        {{component
            (concat 'timeline-items/' (singularize post.kind))
            post=post
        }}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
